@import url('https://fonts.googleapis.com/css2?family=Jost:wght@300;400;500;600&family=Lato:wght@300;400;700&family=Roboto+Condensed:wght@300;400;700&display=swap');

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
html{
    scroll-behavior: smooth;
    font-size:62.5%;

}
body{
    font-family: 'Jost', sans-serif;
    background-color: $color-bg-primary;
    color: $color-text-primary;
    font-size: $fs-16;
    line-height: 1.6;
}
h1,h2,h3,h4,h5,h6{
    color: $color-typography;
    font-weight: 400;

}
a{
    text-decoration: none;
}
a,img{
    display: block;
}

ul,li{
    list-style: none;
}
.pr-80{
    padding-right: 80px !important;
}
.pr-60{
    padding-right: 60px;
}
.pt-70{
    padding-top: 70px !important;
}
.pb-36{
    padding-bottom: 36px !important;
}

@media (max-width:992px) {
    .d-m-0{
        display: none !important;
    }

}

@media (max-width:768px) {
    .d-s-0{
        display: none !important;
    }

}
@media (max-width:576px) {
    .d-ss-0{
        display: none !important;
    }

}

