$color-text-primary:#7f8495;
$color-bg-primary:#fff;
$color-typography:#52586d;
$color-bg-header:#ecf5f4;
$color-ecf5f4:#ecf5f4;
$color-white:#fff;
$color-9ebbbd:#9ebbbd;
$color-f04726:#f04726;
$color-7b9496:#7b9496;
$color-ffb400:#ffb400;
$color-aeb3c3:#aeb3c3;
$color-52586d:#52586d;
$color-7b9496:#7b9496;
$color-ddecea:#ddecea;
$color-f6f8fa:#f6f8fa;
$color-7f8495:#7f8495;


// font size

$fs-12:1.2rem;
$fs-14:1.4rem;
$fs-16:1.6rem;
$fs-18:1.8rem;
$fs-24:2.4rem;
$fs-36:3.6rem;


$lh-48:4.8rem;